/**********************************tags****************************************/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**********************************class***************************************/
.column {
    background-color: black;
    flex: 1;
}

